.fadeIn {
  animation: fadeIn 0.5s ease-in-out forwards;
  opacity: 0;
}

.headline {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
